.navbar-default {
    background-color: #0d0d0d;
    border-color: #E7E7E7;
  }
  /* Title */
  .navbar-default .navbar-brand {
    color: #777;
  }
  .navbar-default .navbar-brand:hover,
  .navbar-default .navbar-brand:focus {
    color: #5E5E5E;
  }
  /* Link */
  .navbar-default .navbar-nav > li > a {
    color: #777;
  }
  .navbar-default .navbar-nav > li > a:hover,
  .navbar-default .navbar-nav > li > a:focus {
    color: #333;
  }
  .navbar-default .navbar-nav > .active > a,
  .navbar-default .navbar-nav > .active > a:hover,
  .navbar-default .navbar-nav > .active > a:focus {
    color: #555;
    background-color: #E7E7E7;
  }
  .navbar-default .navbar-nav > .open > a,
  .navbar-default .navbar-nav > .open > a:hover,
  .navbar-default .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #D5D5D5;
  }
  /* Caret */
  .navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #777;
    border-bottom-color: #777;
  }
  .navbar-default .navbar-nav > .dropdown > a:hover .caret,
  .navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #333;
    border-bottom-color: #333;
  }
  .navbar-default .navbar-nav > .open > a .caret,
  .navbar-default .navbar-nav > .open > a:hover .caret,
  .navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: #555;
    border-bottom-color: #555;
  }
  /* Mobile version */
  .navbar-default .navbar-toggle {
    border-color: #DDD;
  }
  .navbar-default .navbar-toggle:hover,
  .navbar-default .navbar-toggle:focus {
    background-color: #DDD;
  }
  .navbar-default .navbar-toggle .icon-bar {
    background-color: #CCC;
  }
  @media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #777;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
          color: #333;
    }
  }
  
  h2{
    color:#fff;
    font-weight: 500 !important;
    letter-spacing: 1px;
    font-size: 48px !important;
  }
  
  .carousel.carousel-dark.slide {
    width:1000;
    height:200px;
    margin: auto;
  }
  
  #navbarDropdown, .nav-link, .nav-item{
  color:white;
  }
  
  .card{
    float: left;
    width: 300px;
  }
  
  img 
  {
     width: 300px;
     height: 300px;
  }
  
  .btn.btn-primary {
      background-color: #747d90;
      border-color: #747d90;
  }
  .btn.btn-success {
      background-color: #e4e4e4;
      border: #7e7e7e ;
      color:black;
      }
  .btn.btn-outline-success{
      border-color:#145b9c;
      color:#145b9c;
  }
  .btn.btn-outline-success:hover{
      background-color:#145b9c;
      color:white;
  }
  
  .col {
    padding-top: 30px;
  }
  
  footer{
      background-color: #e3f2fd;
      color: #000000;
      font-size: .60em;
      font-style: italic;
      text-align: center;
      padding: 30px;
  
  }
  
  footer a:link{
      color: grey;
    }
    footer a:visited{
      color: #000000;
    }
    footer a:hover{
      color: blue;
    }
  
    .page-link {
      color: black;
    }
    .card:hover{
      transform: scale(1.05);
   box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
  }
  .carousel.carousel-dark.slide {
      width: 1000px;
      height: 500px;
      margin: auto;
      
      
  }
  
  #centerBtn{
      display: flex;
      align-items: center;
      justify-content: center;
  }
  
  .btn.btn-danger{
    background-color: #000000;
  }
  
    #search {
      width:80%;
    }
     @media (min-width: 402px ) {
      .navbar-expand-lg {
        flex-wrap: nowrap !important; 
        justify-content: flex-start !important;
    }
    }
  
  .font-type-crete-round{
    font-family: 'Orbitron', sans-serif;
    text-transform: capitalize;
  }
  
  
  * {
    font-family: "Raleway", sans-serif;
  }
  
  
  #products-label{
    font-family: "Raleway", sans-serif;
    text-align: center;
    text-transform: capitalize;
    color: #0c0c0b;
  }
  
  .card-body a{
    font-family: 'Catamaran', sans-serif;
  
  } 
  
  .card-body #btnSubmit{
    font-family: 'Catamaran', sans-serif;
  
  } 
  
  .card{
    border-radius: 100px;
  }
  